header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8rem;
	border-bottom: 1px solid #30373B;
	background: #212629;

	.menu {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 12.4rem;
	}

	.menu-item {
		a {
			color: #FFF;
			font-size: 2rem;
			font-style: normal;
			font-weight: 400;
			line-height: 1.5;
			transition: all 0.3s ease;

			&:hover,
			&:focus {
				background: -webkit-linear-gradient(#fff, rgba(0, 229, 255, 0.40));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}